*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: absolute;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#formContainer {
    margin: 15px 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: max-content;
    z-index: 1;
}

#flags {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.input {
    padding: 2px 5px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    margin-right: 10px;
    border: 2px solid white;
}

div.input,
aside.input {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.664);
}

.hide {
    display: none;
}

select {
    cursor: pointer;
}

input, textarea {
    cursor: pointer;
    outline: 1px solid lightgreen ;
}

.input:focus, textarea:focus {
    border: 2px solid lightgreen;

}

#fields {
    display: flex;
    flex-direction: column;
}

#fields aside {
    display: flex !important;
    justify-content: space-evenly;
}

input[type="file"] {
    display: none;
}

#fields aside div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#formContainer hr {
    margin: 5px 0;
    z-index: 2;
    color: white;
    width: 100%;
}

#formContainer label {
    font-size: 16px;
    margin: 5px;
    z-index: 1;
    color: white;
    font-weight: bold;
    font-style: italic;
    width: max-content;
    padding: 1px;

}
h3.prompts{
    width: 80vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
span.suggestion{
    padding: 5px 10px;
    text-align: center !important;
    font-size: 13px;
    color: rgb(51, 191, 51);
    background-color: rgb(255, 255, 255);
    border: 3px solid lightgreen;
    border-radius: 10px;

}
.highlightField{
    border: 3px solid lightgreen;
}
label.blackTxt {
    text-align: center;
    color: black !important;
}

#assigneeContainer select {
    width: 100%;
    text-align: center;
}

aside  {
    text-align: center;
    margin: 5px 0;
    padding: 5px 0;
}

section#flags div {
    width: max-content;
    display: flex !important;
}

.leftColumn {
    position: fixed;
    top: 0;
    background-color: #ad5d5f;
    height: 170vh;
    width: 507px;
}

.leftColumn img {
    background-repeat: repeat-y;
    z-index: 0;
    opacity: .6;
    object-fit: cover;
    inset: 0;
    height: 170vh;
    width: 100%;
}

#formContainer textarea {
    height: 70px;
}

img#logo {
    position: fixed;
    width: 140px;
    top: 0;
    right: 0;
    height: auto;
    z-index: 1;
}

.btn {
    width: 80%;
    margin: 10px;
    border-radius: 15px;
    border: 2px solid white;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #C40C11;
    color: white;
}

.btn:hover {
    background-color: white;
    border: 1px solid #C40C11;
    color: #C40C11;
    font-weight: bolder;
    animation: alternate;
}

select:hover {
    border: 1px solid #07b30aa9;

}


.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    flex-direction: column;
}

#wrapUpCall {
    z-index: 1;
}

::placeholder {
    font-size: 12px;
}

footer {
    z-index: 1;
    color: white;

}



@media (max-width: 600px) {
   body{
    overflow-y: scroll;
   }
   #fields aside{
    width: max-content;
   }
   input, textarea ,select,label{
    max-width: 150px !important;
}
   section.leftColumn, hr{
    width: 100%;
   }
    img#logo{
        display: none !important;
    }
    #formContainer{
        
    }
  }